<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#27ae60"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Catalog Restaurant for You">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="icon" href="./images/icon-garis.png" />
    <link rel="manifest" href="./app.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <title>RestoKuy</title>
  </head>
  <body>
    <skip-tocontent></skip-tocontent>
    <app-bar></app-bar>
    <main></main>
    <foot-bar></foot-bar>
  </body>
</html>
